<img class="logo" src="images/infinity.svg" />
<div id="app" class="container">
  <h3>Thank you</h3>
  <p>Nunc finibus mauris vitae elit dictum, sed ultrices lacus dictum. Nullam id libero risus. Cras mauris arcu, tempor at mauris sit amet, feugiat blandit diam. Mauris quis erat ac nisi pretium ullamcorper sit amet sed leo. Aenean a ultricies justo, vel molestie augue. Integer ligula quam, faucibus id nisi sollicitudin, euismod ultricies dolor. Vestibulum semper mauris tellus, nec porta nisl sagittis vitae. Donec orci erat, luctus non nulla a, commodo scelerisque justo. Mauris in ipsum quis nisi imperdiet elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at mauris vitae mauris ullamcorper tincidunt non sit amet nulla. Sed iaculis viverra venenatis. Aenean ullamcorper lobortis lacus quis vestibulum.</p>
  <h5>Made with ❤ by Ramkumar Shankar</h5>
</div>
<script>
  var prompts = {{{ prompts }}};
</script>
<script src="javascripts/post.js"></script>