<div class="container">
  <h1>Post page</h1>
  <div class="content">
      <div class="row">
          <h3>{{ prompt }}</h3>
      </div>
      <div class="row story-text-">
          <div class="column column-50"><textarea placeholder="" id="story"></textarea></div>
      </div>
  </div>
  <a class="button" href="#">Share</a>
</div>