<img class="logo" src="images/infinity.svg" />
<div id="app" class="container">
    <prompt v-if="bShowPrompt" v-on:refresh-prompt="changePrompt" :prompt="currentPrompt"></prompt>
    <div class="row form">
        <textarea placeholder="" id="story"></textarea>
    </div>
    <div class="row">
        <a class="button" href="#">Share</a>
    </div>
</div>
<script>
  var prompts = {{{ prompts }}};
</script>
<script src="javascripts/post.js"></script>