<img class="logo" src="images/infinity.svg" />
<br />
<div id="app" class="container">
  <h3>Thank you</h3>
  <p>This project is part of my capstone research project towards a Masters in Interaction Design &amp; Electronic Arts.</p>
  <p>It explores possible interventions using digital media to express personal narratives in public space.</p>
  <h5>Ramkumar Shankar</h5>
  <a href='/'>See stories from other people</a>
  <p>&nbsp;</p>
  <a class='button' href='/post'>Write another</a>
</div>
<script src="javascripts/animate.js"></script>